
.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    background: var(--light);
    border: 2px solid var(--blue);
    border-radius: 20px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 40px;
    height: 40px;
    background: var(--blue);
}
.team-carousel .owl-nav .owl-prev,
.team-carousel .owl-nav .owl-next {
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--blue);
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
    color: rgba(0, 0, 0, 0.468);
    
}

.card_equipement:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.468);
}